<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
   <center><h1>Playlists</h1></center>
   <center><a href='/playlists/new'>New Playlist</a></center>
   <br>
   <!-- Add the following classes to their appropriate elements  -->
   <div class='row'>
       {% for playlist in playlists %}
           <div class='col-md-3'>
               <h2><a href='/playlists/{{ playlist._id }}'>{{ playlist.title }}</a></h2>
               <img src="{{ playlist.image_url }}" alt="Playlist Image">
               <br>
               <small>{{ playlist.description }}</small>
           </div>
        {% endfor %}
{% endblock %}
